<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>タスク作成</title>
</head>
<body>
<a href="/tasks">タスク一覧</a>
<h2>タスク作成</h2><!DOCTYPE html>
<form th:action="@{/tasks}" th:object="${task}" method="post">
    <input type="text" th:field="*{title}"/>

    <select th:field="*{priority}">
        <option th:each="p : ${T(com.example.todo.entity.Priority).values()}"
                th:value="${p}"
                th:text="${p}" >
        </option>
    </select>

    <button type="submit">送信</button>
</form>
</body>
</html>