<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>タスク編集</title>
</head>
<body>
<h2>タスク編集</h2>
<a href="/tasks">タスク一覧</a>
<form th:action="@{/tasks/{id}/edit(id=${task.id})}" th:object="${task}" method="post">
    <table>
        <thead>
        <tr>
            <th>タイトル</th>
            <th>優先度</th>
            <th>カテゴリー</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="text" th:field="*{title}"/></td>
            <td>
                <select th:field="*{priority}">
                    <option th:each="p:${T(com.example.todo.entity.Priority).values()}"
                            th:value="${p}"
                            th:text="${p.label}">
                    </option>
                </select>
            </td>
            <td>
                <select th:field="*{category}">
                    <option th:each="c : ${T(com.example.todo.entity.Category).values()}"
                            th:value="${c}"
                            th:text="${c.label}">
                    </option>
                </select>
            </td>
                <td><button type="submit">送信</button></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>